fieldset{
	background:lightyellow;
	border: 10px solid yellow;
	margin-bottom: 10px;
	width: 720px;
}
label{
	width: 180px;
	display: inline-block;
	text-align: left;
	text-align: top;
}
label {
	width: auto;
}
label [for=radio]{
	text-align: center;
	background-color: lightgreen;
}
label [for=checkbox]{
	text-align: center;
	background-color: lightblue;
}
textarea{
	width: 360px;
	height: 50px;
}